html { 
	width:100%; 
	height:100%;
	overflow: hidden;
}

#headshot {
	background:url(images/JunFabio.jpg) center center no-repeat;
	width:300px;
    height:300px;
    opacity:0;

    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -150px;

	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;

	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#zoolander-header {
	position: absolute;
	top: 1em;
	left: 1em;
}

#zoolander-header span {
	text-transform: uppercase;
	font-family: 'Josefin Slab', Montserrat, serif;
	font-size: 0.90em;
}

#social-icon-container {
	position:absolute;
	bottom:0;
	right:0;
	padding-right: 2em;
	opacity:0;
}

#social-icon-container ul { 
	padding-left: 0;
}

#social-icon-container li { 
	display: inline;
	list-style-type: none;
	padding-right: 0.5em;
}

#social-icon-container a {
	font-size: 1.25em;
	text-decoration: none;
	color: black;
}

/*
==============================================
fadeIn
==============================================
*/
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;

	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-delay: 2s;
    animation-delay: 2s;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

/*
==============================================
slideExpandUp
==============================================
*/
.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;

	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-delay: 1s;
    animation-delay: 1s;	

	visibility: visible !important;	
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
		opacity:0;
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);
		opacity:1;	
	}
}

@-webkit-keyframes slideExpandUp {
	0% {
		-webkit-transform: translateY(100%) scaleX(0.5);
		opacity:0;
	}
	30%{
		-webkit-transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		-webkit-transform: translateY(2%) scaleX(0.5);
	}
	50%{
		-webkit-transform: translateY(0%) scaleX(1.1);
	}
	60%{
		-webkit-transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		-webkit-transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		-webkit-transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		-webkit-transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		-webkit-transform: translateY(0%) scaleX(1);
		opacity:1;	
	}
}