<div id='zoolander-header'>
	<span>
		Developer "Slash" Model, and not the other way around.
	</span>
</div>

<div id='social-icon-container'>
	<ul>
		<li><a href='//github.com/gnitnuj' class='icon icon-github'></a></li>
		<li><a href='//linkedin.com/in/junting' class='icon icon-linkedin'></a></li>
		<li><a href='mailto:junting.lu+whatsajunting@gmail.com' class='icon icon-mail'></a></li>
		<li><a href='skype:juntinglu' class='icon icon-skype'></a></li>
		<li><a href='//plus.google.com/+JuntingLu/about' class='icon icon-gplus'></a></li>
		<li><a href='//instagram.com/whatsajunting' class='icon icon-instagrem'></a></li>
		<li><a href='//facebook.com/juntinglu' class='icon icon-facebook'></a></li>
	</ul>
</div>

{{outlet}}
